.Form div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: .87rem;
}


.Form{
    background: linear-gradient(var(--warning-color),var(--alert-color),var(--precaution-color),var(--normal-color)) ;
}




@media (min-width:1000px) {
    .Form{
        width: 30%;
    }
}

form div{
    margin-bottom: 2px;
}